.protected-container {
  display: flex;
  height: 100vh; /* Occupa tutta l'altezza della finestra */
  overflow: hidden;
}

.sidebar {
  width: 250px; /* Larghezza fissa della sidebar */
  background: var(--secondary-color);
  flex-shrink: 0; /* Evita il ridimensionamento */
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.protected-content {
  flex-grow: 1; /* Occupa tutto lo spazio rimanente */
  margin-left: 250px; /* Evita la sovrapposizione con la sidebar */
  padding: 2rem;
  overflow-y: auto;
}
